<div class="container pt-5">
  <div class="formlable">Login</div>
  <form [formGroup]="profileForm" (ngSubmit)="verfiInvisibleCapture()">
    <div class="form-group">
      <label for="exampleInputEmail1">Mobile Number</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter mobile number"
        autocomplete="off"
        formControlName="contactNumber"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your number with anyone else.</small
      >
    </div>
    <div class="form-group">
      <div id="recaptchacontainer"></div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
