<div class="container pt-5">
  <div class="formlable">Login</div>
  <div>
    <form (ngSubmit)="SendOTP()">
      <div class="form-group">
        <label for="exampleInputEmail1">Mobile Number</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          name="contactNumber"
          aria-describedby="emailHelp"
          placeholder="Enter mobile number"
          autocomplete="off"
          [(ngModel)]="contactNumber"
          [disabled]="windowRef.confirmationResult"
        />
        <small style="color: red" *ngIf="contactMessage">{{
          contactMessage
        }}</small>
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your number with anyone else.</small
        >
      </div>
      <div *ngIf="!windowRef.confirmationResult" class="form-group">
        <div id="recaptchacontainer"></div>
      </div>
      <!-- timer code for resend OTP  -->
      <span id="timer"></span>
      <button
        *ngIf="!windowRef.confirmationResult"
        type="submit"
        class="btn btn-primary"
      >
        Send OTP
      </button>
      <button
        *ngIf="windowRef.confirmationResult"
        type="submit"
        class="btn btn-primary"
        id="isResendOTP"
      >
        Re-send OTP
      </button>
    </form>
  </div>

  <!-- otp varification  -->
  <div class="pt-1" *ngIf="windowRef.confirmationResult">
    <form (ngSubmit)="verfiyOTP()">
      <div class="form-group">
        <label for="exampleInputEmail1">Enter OTP</label>
        <input
          type="text"
          class="form-control"
          name="varificationcode"
          aria-describedby="emailHelp"
          placeholder="Enter OTP"
          autocomplete="off"
          [(ngModel)]="varificationcode"
        />
        <small style="color: red" *ngIf="message">{{ message }}</small>
        <small id="emailHelp" class="form-text text-muted"
          >Never share your OTP with anyone else.</small
        >
      </div>

      <button
        *ngIf="windowRef.confirmationResult"
        type="submit"
        class="btn btn-primary"
      >
        Verify
      </button>
    </form>
  </div>
</div>
